
.btn{
  cursor: pointer;
  padding: 0 16px;
  min-height:42px;

  font-family: inherit;
  border-radius: 4px;
  color:$secondary-default;
  background-color:$primary-default;
  border: 1px solid $secondary-default;
  

  &:hover{
    background-color:$primary-hover;
    border: 1px solid $secondary-default;
  }


  &_white {
    color:$font-primary;
    background-color:$secondary-default;

    border: 1px solid $border-default;
    border-radius: 4px;

    &:hover{
      background-color:$secondary-hover;
      border: 1px solid $border-hover;
    }
  }

  &_active{
    cursor:auto;
    background-color:$secondary-default;
    color:$font-primary;


    &:hover{
      background-color:$secondary-default;
      border: 1px solid $border-active;
      color:$font-primary;
    }
    }

  div.nav-btn > &_active{
    cursor:auto;
    background-color:$secondary-default;
    fill:$secondary-active;
    color:$font-primary;
  }

  
}
