*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color:var(--font-primary);
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Open Sans';
  src: url(@/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf)format(ttf),
  url(@/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf)format(ttf);
}
