<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css"/>
  <title>Navigation</title>
</head>
<body>
  <header class="navigation">
      <button class="btn">Проекты</button>
      <button class="btn btn--active">Задачи</button>
      <button class="btn">Пользователи</button>
      <button class="btn btn--profile">
        <img class="btn__profile-pic" src="../../Assets/img/profile_pic.jpg" alt="profile picture"/>
        <svg class="drop-down-1">
          <use xlink:href="../../Assets/img/symbol.svg#icon-drop_down_1"/>
        </svg>
      </button>
  </header>
</body>
</html>