.dropdown{
  position: relative;

  &__item {
    line-height: 35px;
    list-style: none;
    text-align: right;

    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    background-color: $secondary-default;


    visibility: hidden;
    opacity: 0;


    max-height: 0%;
    transition: all .8s;

    top:44px;
    right:1px;
  }

  &_active {
    max-height: 80px;
    visibility: visible;
    opacity: 1;

  }

  &__li {
    text-align: center;
    padding: 0 16px;
    width: 100%;
    cursor: pointer;
    height: 35px;
    z-index: 10;

    &:hover {
      background-color: $secondary-hover;
    }
  }
}


