<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css"/>
  <title>Project Item</title>
</head>
<body>
  <div class="project-item">
    <div class="project-item__content">
      <span class="project-item__name">Название</span>
      <div class="project-item__info">
        <span class="project-item__num">#1</span>
        <span class="project-item__details">Иванов И.И. создал 1 час назад</span>
        <span class="project-item__changes">Баранов В.В. изменил 1 минуту назад</span>
      </div>
    </div>
    <div class="project-item__settings">
      <svg class="icon-dots">
        <use xlink:href="../../Assets/img/symbol.svg#icon-dots"/>
      </svg>
    </div>
  </div>
</body>
</html>